
.background-yellow {
    width: 100%;
    height: fit-content;
    background-color: #5B85F6;
    border-radius: 64px;
    display: grid;
    place-items: center;
    padding-top: 212px;
}

.background-blue {
    width: 1240px;
    height: fit-content;
    background-color: #7C9DF8;
    border-radius: 0px 0px 64px 64px;
    padding: 64px 32px 64px 32px;
    min-height: 768px;
}

.hidden {
    display: none;
}

.buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.underline {
    width: 248px;
    height: 3px;
    background-color: #5177DD;
    vertical-align: bottom;
}

.pets-button {
    width: 248px;
    height: 88px;
    display: block;
    margin: auto;
    border-radius: 44px 44px 0px 0px;
    border: none;
    font-family: cocon;
    font-size: 24px;
    font-weight: 200;
    background-color: #5177DD;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

    .pets-button:hover {
        transition: all 0.3s ease 0s;
        background-color: white;
        color: #262626;
    }

        .pets-button:hover ~ .underline {
            background: white;
            transition: all 0.3s ease 0s;
        }
        .pets-button:hover ~ .underline-active  {
            background-color: #FFDC26;
        }
        
.active-btn {
    background-color: #7C9DF8;
    color: #FFDC26;
}

    .active-btn :hover {
        background-color: #7C9DF8;
        color: #FFDC26;
    }

        .active-btn :hover ~ .underline {
            transition: all 0.3s ease 0s;
          
        }

.underline-active {
    background-color: #FFDC26;
}

.pets-button.active-btn:not(:disabled):hover {
    background-color: #7C9DF8; /* Змінюємо колір фону для активної кнопки на стандартний */
    color: #FFDC26; /* Змінюємо колір тексту для активної кнопки на стандартний */
}


.background-blue {
    align-items: center;
    align-items:start;
    justify-content: center;
}

.text-content {
    width: 300px;
    height: 400px;
    text-align: start;
}

.donat-content {
    display: grid;
    text-align: start;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 298px 298px 298px 234px;
    grid-gap: 16px;
}

.transparent-donat {
    width: 298px;
    height: 54px;
    margin: 0;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: start;
    padding-left: 24px;
    font-size: 18px;
}

    .yellow-donat:hover, .transparent-donat:hover {
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
        color: #262626;
    }


.yellow-donat {
    width: 234px;
    height: 54px;
    margin: auto;
    background-color: #FFDC26;
    color: #262626;
    font-weight: 500;
    font-size: 18px;
}

.heading-donat {
    color: white;
    font-size: 64px;
    margin-bottom: 40px;
}



.name {
    font-family: cocon;
    font-weight: 300;
    font-size: 24px;
    margin-top: 0px;
    line-height: 100%; /*Интерлиньяж (расстояние между строк)*/
    margin-top:16px;
    color:white;
}
.features {
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
    font-size: 16px;
    opacity:60%;
    color:white;
    margin-bottom:3px;
}
.cards {
    display: grid;
    grid-template-columns: 282px 282px 282px 282px;
    grid-gap: 16px;
    margin-top: 42px;
}

.sidebar-cards {
    display: grid;
    grid-template-columns: 282px 282px;
    grid-gap: 16px;
    margin-top: 0px;
    padding-bottom: 24px;
}

.card {
    width: 282px;
    height: 440px;
    border-radius: 32px;
    background: #5B85F6;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    text-align: start;
}
.liked-card {
    width: 282px;
    height: 440px;
    border-radius: 32px;
    background: #7C9DF8;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    text-align: start;
}

.card__img {
    width: 250px;
    height: 272px;
    border-radius: 32px;
}

.card__descr-wrapper {
    display: grid;
}


.card__descr {
    margin-top: 0px;
    line-height: 100%;
}


.card__links {
    display: flex;
    justify-content: space-between;
    width:250px;
}


.yellow-pet {
    width: 184px;
    height: 54px;
    margin: auto;
    background-color: #FFDC26;
    color: #262626;
    font-weight: 500;
    margin-right: 8px;
}
    .yellow-pet:hover {
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
        color: #262626;
    }
.like-pet {
    width: 54px;
    height: 54px;
    margin-left: 0px;
    background-color: #7C9DF8;
    border: none;
    color: transparent;
    background-image: url('../images/likes.svg');
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.chosen {
    background-image: url('../images/likeschosen.svg');
}

.like-pet:hover {
    background-image: url('../images/likehover.svg');
}

.chosen:hover {
    background-image: url('../images/likeschosen.svg');
}




.filter {
    margin: 80px auto 30px;
    width:298px;
    height:auto;
}


.card img{

    width: 250px;
    height: 272px;
    border-radius: 32px;
}

.card h3, .liked-card h3{
    
    font-family: cocon;
    font-weight: 300;
    font-size: 24px;
    margin-top: 0px;
    line-height: 100%; /*Интерлиньяж (расстояние между строк)*/
    margin-top:16px;
    color:white;
}

.card h4, .liked-card h4{
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
    font-size: 16px;
    opacity:60%;
    color:white;
    margin-bottom:3px;
}


.card, .liked-card  {
    opacity: 0; /* Initially hide the card */
    transition: opacity 0.6s ease-in-out; /* Smooth transition for opacity */
}


/*//////////////////FILTER*/

.container{
    position: relative;
    max-width: 320px;
    width: 298px;
    margin: 0px auto 0px;
    
    font-family: 'Geologica', sans-serif;
        font-weight: 400;
        font-size: 18px;
}

.select-btn{
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    text-align: start;
    
    font-size: 18px;
    
    width: 298px;
    height: 54px;
    margin: 0;
    
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
    
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.select-btn.open{
    background-color: #5B85F6;
}

.select-btn .btn-text{
    font-family: 'Geologica', sans-serif;
        font-weight: 400;
        font-size: 18px;

}

.select-btn .arrow-dwn{
    display: flex;
    height: 18px;
    width: 18px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);

}


.list-items{
    
    width: 298px;
    position: absolute; /* Change position to absolute */
    top: calc(100% + 10px); /* Position the list-items below the select button */
    
    margin-top: 0;
    border: 1px solid white;
    border-radius: 25px;
    display: none;
    
    z-index: 1; /* Set a higher z-index */
    background-color: #5B85F6;
}

.select-btn.open ~ .list-items{
    display: block;
    
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 25px;
    
    padding: 4px 20px ;
    
    justify-content: space-between;
}
.list-items .item:hover {
    background-color: #6B91F7;
}

.item .item-text {
    
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.list-items .item:hover .item-text {    
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.list-items .item:hover .checkbox{    
    border: 1.5px solid white;
}
.list-items .item:hover .check-icon{    
    color:  #262626;
}
.list-items hr{
    margin: 0 auto;
        width: 250px;
        border: 1px solid  #6B91F7;
        height: 0px; 

}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1.5px solid white;
}

.item.checked .checkbox{
    background-color: #FFDC26;    
    border: 1.5px solid #6B91F7;
}

.checkbox .check-icon{
    transition: 0.1s;
    font-size: 11px;
    transform: scale(0);
}

.item.checked .check-icon{
    transform: scale(1);
    color: #262626;
}

.wrapper {
    display: grid;
    grid-template-columns: 298px 298px 298px 234px;
    grid-gap: 16px;
}


/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -676px; /* Положение панели по умолчанию */
    width: 676px;
    position: fixed;
    background-color: #5B85F6;
    transition: right 0.5s ease; /* Анимация при изменении положения */
    border-radius: 32px 0px 0px 32px;
    z-index: 9990; /* Убедитесь, что кнопка находится поверх всего остального */
    padding: 22px 48px 0px 48px;    
    height: 100vh;
    overflow-y: scroll; /* Включаем вертикальную полосу прокрутки */
    -ms-overflow-style: none;  /* Устанавливаем стиль прокрутки для IE/Edge */
    scrollbar-width: none; /* Устанавливаем стиль прокрутки для Firefox */
}

.sidebar.active {
    right: 0; /* Показываем боковую панель */
}
.sidebar::-webkit-scrollbar {
    width: 0;  /* Устанавливаем нулевую ширину для полосы прокрутки */
    background-color: transparent; /* Делаем фон полосы прозрачным */
}

.black-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9990;
    background: #000c;
    transition: all 0.5s ease; /* Анимация при изменении положения */
    opacity: 0; /* Скрываем элемент с помощью нулевой прозрачности */
    pointer-events: none; /* Элемент будет проигнорирован событиями мыши */
}

.black-back.visible {
    opacity: 1; /* Показываем элемент с помощью полной прозрачности */
    pointer-events: auto; /* Включаем обработку событий мыши */
}

.sidebar-wrapper {
    padding: 0px;
    background: #5B85F6;
    width: auto;
    height: fit-content;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.sidebar-wrapper h2 {
    color: white;
    font-size: 48px;
    font-weight: 400;
}

.sidebar-cards{
    width:auto;  
}
