.background-quiz {
    width: 100%;
    height: 610px;
    background-color: #7C9DF8;
    border-radius: 64px;
    background-image: url(../images/backgr/Group-quiz-main.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 120px;
}

.background-quiz{
    display: flex;
    justify-content: center;
    text-align: center;
}


.quiz p{
    margin-top: 72px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    opacity: 100%;
    font-weight: 200;
    transition: all 0.3s ease 0s;
}

.quiz h1{
    margin-top: 80px;
}
.quiz h2{
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-top: 50px;
    display: none;
    margin-bottom: 24px;
}

.quiz-btn {
    color: transparent;
    background-color: transparent;    
    border: 2px solid white;
    border-radius: 50%; /* Делаем кнопку круглой */    
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat; /* Запрещаем повторение фона */
    background-position: center; /* Позиционируем фон по центру */
    transition: all 0.3s ease 0s;
}

.quiz-btn:hover {
    
    background-image: url(../images/backgr/quiz-answer.svg); /* Новое изображение при наведении */
   
}

.answer{    
    height: 100px;
    width: 100px;
    background-image: url(../images/backgr/Group1.png); /* Новое изображение при наведении */
    transition: all 0.3s ease 0s;
}
.answer:hover {
    
    height: 100px;
    width: 100px;
    background-image: url(../images/backgr/Group1.png); /* Новое изображение при наведении */
}

.quiz-buttons p{    
    height: 100px;
    width: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

.background-quiz h4{    
    margin-top: 120px;
    font-size: 24px;
    line-height: 34px;    
    margin-bottom: 120px;
}

/* #text1,#text5{
    height: 100px;
    width: 100px;
}
#text2, #ext4{
    width: 85px;
}
#text3{
    width: 70px;
}

*/

#type1,#type5{
    height: 100px;
    width: 100px;
}
#type2, #type4{
    height: 85px;
    width: 85px;
}
#type3{
    height: 70px;
    width: 70px;
} 

#text1{
    color:#FFADAD;
}#text2{
    color:#FFDC26;
}#text4{
    color:#C3FFC9;
}#text5{
    color:#81FF8D;
}


.quiz-buttons{
    width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}


.background-question {
    text-align: center; /* Выравнивание по центру */
    align-items: center;
    
}
.background-question > * {
    
    margin: 0 auto; /* Устанавливаем отступы по горизонтали для дочерних элементов */
}

#quiz-btn{
    width: 220px;
    font-weight: 500;
}

.best-card {
    width: 282px;
    height: 440px;
    border-radius: 32px;
    background: #5B85F6;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    text-align: start;
}

.best-card h3{
    
    font-family: cocon;
    font-weight: 300;
    font-size: 24px;
    margin-top: 0px;
    line-height: 100%; /*Интерлиньяж (расстояние между строк)*/
    margin-top:16px;
    color:white;
}

.best-card h4{
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
    font-size: 16px;
    opacity:60%;
    color:white;
    margin-bottom:3px;
    margin-top: 0px;
}

.card__links {
    display: flex;
    justify-content: space-between;
    width:250px;
}

.yellow-pet {
    width: 188px;
    height: 54px;
    margin: auto;
    background-color: #FFDC26;
    color: #262626;
    font-weight: 500;
    margin-right: 4px;
}
    .yellow-pet:hover {
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
        color: #262626;
    }
.like-pet {
    width: 54px;
    height: 54px;
    margin-left: 0px;
    background-color: #7C9DF8;
    border: none;
    color: transparent;
    background-image: url('../images/likes.svg');
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.chosen {
    background-image: url('../images/likeschosen.svg');
}

.like-pet:hover {
    background-image: url('../images/likehover.svg');
}

.chosen:hover {
    background-image: url('../images/likeschosen.svg');
}


/* .like-pet {
    width: 54px;
    height: 54px;
    margin-left: 0px;
    background-color: #7C9DF8;
    border: none;
    color: transparent;
    background-image: url('../images/likes.svg');
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.chosen {
    background-image: url('../images/likeschosen.svg');
} */

/* .like-pet:hover {
    background-image: url('../images/likehover.svg');
}

.chosen:hover {
    background-image: url('../images/likeschosen.svg');
} */
/* .best-cards {
    display: grid;
    grid-template-columns: 282px 282px 282px 282px;
    grid-gap: 16px;
    margin-top: 42px;
}

.best-card {
    width: 282px;
    height: 440px;
    border-radius: 32px;
    background: #5B85F6;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    text-align: start;
} */